.thumbnail {
  padding:  0px;
  border-radius: 6px;
  overflow: hidden;
}
.cards {
  overflow: hidden;
  height:  180px;
  max-height: 180px;
}
.container .jumbotron, .container-fluid .jumbotron {
	border-radius:  0px;
  background:  #00102b;
  background-image: radial-gradient(circle, #333343, rgb(27, 40, 56));
}

.jumbotron.text-center > p > img {
	border:  1px solid #737373;
}

.jumbotron h1 {
	color:  #ccc;
}

#popular_tags { 
  position: relative;
  left: -4px;
}